<!doctype html>
<head>
    <title>The Loneliest Cloud: About</title>
    <link rel="stylesheet" type="text/css" href="/static/loneliestcloud.css">
</head>
<body>
    <H1><span>About the loneliest cloud</span></H1>
    <br>
    <br>
    <p class="about"><span>What is the sound of loneliness? What strange acoustic binds tracks which are not even listened to by their creator/uploader, sometimes for years?<br>
    The Loneliest Cloud is an attempt to explore the unfound and unplayed on Soundcloud.<br>
    In so doing, it surfaces the strange, the forgotten, the sometimes beautiful.<br>
    All the tracks the sytem presents have a playcount of zero on soundcloud. As they are autoplayed on load, the system will only ever present a track once. In this way we hear the forgotten, but only for a moment.<br>
    <br>
    Technically, the system has to go looking for unplayed soundcloud tracks, as there is no means to directly search (via the soundcloud api) for track with a playcount filter or order. To do this and still have a reasonably responsive service, a simple async worker queue is set up using rq and redis.<br>
    The system is a python flask web app, deployed on heroku. The <a href="https://github.com/gearmonkey/lonelycloud">source code is on github.</a><br>
    <br>
    <br>
    Zero is the loneliest number (of plays).<br>
    <br>
    <br>
    background image is cc-by <a href="https://www.flickr.com/photos/richardwalkerphotography/15471215817">Richard Walker</a></span></p>
    <p class="footer"><span>Made by <a href="http://benfields.net">Ben Fields</a> in 24 hours at <a href="http://musichackday.upf.edu/mhd/2015/">Barcelona Music Hack Day 2015</a>. <a href="/about">More info</a></span><p>
</body>