<!doctype html>
<head>
    <title>The Loneliest Cloud: About</title>
    <link rel="stylesheet" type="text/css" href="/static/loneliestcloud.css">
</head>
<body>
    <H1><span>About the loneliest cloud</span></H1>
    <br>
    <br>
    <p><span>Zero is the loneliest number (of plays).</span></p>
    <p><span>background image is cc-by <a href="https://www.flickr.com/photos/richardwalkerphotography/15471215817">Richard Walker</a></span></p>
    <p class="footer"><span>Made by <a href="http://benfields.net">Ben Fields</a> in 24 hours at <a href="musichackday.upf.edu/mhd/2015/">Barcelona Music Hack Day 2015</a>. <a href="/about">More info</a></span><p>
</body>