<!doctype html>
<head>
    <title>The Loneliest Cloud</title>
    <link rel="stylesheet" type="text/css" href="/static/loneliestcloud.css">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-64308268-1', 'auto');
      ga('send', 'pageview');

    </script>
</head>
<body>
    <H1>Explore the Loneliest Cloud</H1>
    <br>
    <br>
    <a href="{{lonely}}" class="button">Zero Is The Loneliest Number!?!<i class="icon-chevron-right"></i></a>
    <p class="footer"><span>Made by <a href="http://benfields.net">Ben Fields</a> in 24 hours at <a href="http://musichackday.upf.edu/mhd/2015/">Barcelona Music Hack Day 2015</a>. <a href="/about">More info</a><a href="http://funandplausible.solutions"><img src="/static/funandplausible.png" height="16" class="logo"></a></span></p>
</body>