<!doctype html>
<head>
    <title>The Loneliest Cloud</title>
    <link rel="stylesheet" type="text/css" href="/static/loneliestcloud.css">
</head>
<body>
    <H1>Explore the Loneliest Cloud</H1>
    <br>
    <br>
    <a href="{{lonely}}" class="button">Zero Is The Loneliest Number!?!<i class="icon-chevron-right"></i></a>
    <p class="footer"><span>Made by <a href="http://benfields.net">Ben Fields</a> in 24 hours at <a href="http://musichackday.upf.edu/mhd/2015/">Barcelona Music Hack Day 2015</a>. <a href="/about">More info</a><a href="http://funandplausible.solutions"><img src="/static/funandplausible.png" height="16" class="logo"></a></span><p>
</body>