<!doctype html>
<head>
    <title>The Loneliest Cloud:{{sad.title}}</title>
</head>
<body>
    <H1>We found a lonely cloud edge, give it a listen!</H1>
    <br>https://w.soundcloud.com/player/?url={{sad.permalink_url}}
    <iframe id="sc-widget" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{sad.id}}&amp;auto_play=true&amp;hide_related=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true" width="100%" scrolling="no" frameborder="no"></iframe>
    <a href="{{lonely}}">Find Another!?!</a>
    <script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>
</body>